.card{
    margin: 1rem;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 3px solid black;
    background-color: azure;
    overflow: hidden;
    
}
.card img{
    width: 100%;
    height: 100px;
}