.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  /* padding: 5rem; */
}
.card {
  max-width: 25vw;
  background-color: pink;
  border: 3px solid black;
  overflow: scroll;
  padding: 1rem;
}
