.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  /* padding: 5rem; */
}
.card {
  max-width: 25vw;
  background-color: pink;
  border: 3px solid black;
  overflow: scroll;
  padding: 1rem;
}
.touchme{
  background-color: yellow;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  color: black;
  font-size: 1.3rem;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
}